<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Ильдар Гимадеев</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="wrapper">
    <div id="header">
        <div class="first header-part">
            <h2>@ildargimadeev 😀</h2>
            <h3>19 лет, Python backend разработчик 😎</h3>
        </div>
        <div class="m-img header-part">
            <img src="{% static 'images/one.jpg' %}">
        </div>
        <div class="second header-part">
            <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
        </div>
    </div>
    <div id="sidebar">
        <div class="right-side">
            <h3>На моем сайте</h3>
            <a href="/#history">Моя история</a><br>
            <a href="/#projects">Мои проекты</a><br>
            <a href="/#links">Ссылки</a><br>
            <a href="/articles">Блог</a>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <div id="footer">
        <p class="fon"><strong>ВК:<br> @ildargimadeev</strong></p>
        <p class="fax"><strong>Telegram:<br> @ildargimadeev</strong></p>
        <p class="mail"><strong>E-mail<br>teleboting@yandex.ru</strong></p>
        <p class="mail"><strong>GitHub<br>@ilgimdar</strong></p>
    </div>
</div>
</body>
</html>

