
{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <p class="about" id="history">#Моя история</p>
    <br>
    <br>
    <br>
    <div class="card">
        <img src="{% static 'images/two.jpg' %}">
        <p>Привет! Меня зовут Ильдар. Я занимаюсь программированием с 7 класса. Сначала я участвовал в олимпиадах по
            спортивному программированию, ездил в ОЦ Сириус в конце 8 класса, неоднократно участвовал в региональном
            этапе ВСОШ по информатике.</p>
    </div>

    <div class="card">
        <img src="{% static 'images/three.png' %}">
        <p>Я учился 1.5 года в Яндекс Лицее, не закончил всвязи с тем, что думал уделить больше времени
            олимпидам.</p>
    </div>
    <div class="card">
        <img src="{% static 'images/four.jfif' %}">
        <p>В Яндекс Лицее я многому научился, поэтому ближе к концу 9 класса начал заниматься проектами, делая
            несложные игры и приложения и игры на движке Unity.</p>
    </div>

    <div class="card">
        <img src="{% static 'images/five.png' %}">
        <p>В 11 классе я в основном занимался ЕГЭ и у меня не было достаточно времени, чтобы заниматься . Однако мне
            кажется, что это пошло мне на пользу, ведь я научился целеустремленно заниматься и готовиться за
            короткое время. Мои старания оправдались достаточно высокими баллами. По информатике я даже смог набрать
            100 баллов.</p>
    </div>

    <div class="card">
        <img src="{% static 'images/six.png' %}">
        <p>Сейчас я учусь на 1 курсе МАИ на направлении Прикладной математики и информатики и интересуюсь
            WEB-разработкой на Python. Также около года назад я создал свой канал на YouTube про программирование и
            учебу на программиста.</p>
    </div>
</div>

<div class="content">
    <p class="about1" id="projects">#Мои проекты</p>
    <br><br><br>
    <div class="card">
        <img src="{% static 'images/seven.jpg' %}">
        <p>За весь мой опыт в разработке я сделал множество различных проектов. Первый проект, который я выложил в
            продакшн - игра DaltoNinja. Это игра с вертикальной ориентацией экрана, в которой человек играл за
            ниндзя, прыгающего по домам. Нужно было за короткое время прыгнуть на крышу дома нужного цвета. Игра на
            реакцию, по типу "Not Not". Через некоторое время к сожалению получил бан по непонятным причинам.</p>
    </div>

    <div class="card">
        <img src="{% static 'images/eight.png' %}">
        <p>Далее я реализовывал различные механики для игр, занимался оформлением тексов на сайтах, переводил их, а
            также делал простые сайты на flask на заказ за несколько часов. Следующий крупный проект, которым я
            горжусь потому, что мне очень нравится его эстетика. Гаджет Мания (более 1000 скачиваний в Google
            Play)</p>
    </div>

    <div class="card">
        <img src="{% static 'images/telegram1221.png' %}">
        <p>Сейчас я решил всерьез заняться разработкой на Python. Недавно попробовал себя в разработке ботов для
            Telegram. Сделал своего бота, который делает выкладку по погоде в определенном городе и дает картинку
            этого города. Работает через API Google Search и API Microsoft Bing. Также я прошел недавно курс на
            Stepik "Python. Основы и применение". Сейчас самостоятельно учу Django. </p>
    </div>
</div>

<div class="content">
    <p class="about2" id="links">#Ссылки</p>


    <br><br><br>
    <a class="post" href="https://www.youtube.com/channel/UCCpjGmIujZ28IgF7yN4Y5DQ">1)Мой YouTube канал IT Ildar</a>
    <a class="post" href="https://play.google.com/store/apps/details?id=com.Ilgimdar.GadgetMania">2)Мое приложение Гаджет
        Мания</a>
    <a class="post" href="https://t.me/RealWheatherBot">3) Мой бот в Телеграм (уже работает нестабильно, к сожалению)</a>
    <a class="post" href="https://github.com/ilgimdar">4)Мой профиль на GitHub </a>
    <a class="post" href="https://vk.com/ildargimadeev">5)Мой ВК</a>
    <a class="post" href="https://t.me/ildargimadeev">6)Мой Телеграм</a>
</div>
{% endblock %}