html {
  scroll-behavior: smooth;
}
body{
  background:#000000; 
  font-family: 'Nunito Sans', sans-serif;
}

#wrapper{ 
  width: 100%;
  background: #454545;
}

h1{
	color: black;
}
h3{
	color: black;
}

h2{
	color: black;
}


p{
	color: black;
}

a{
	color:black;
}



#header{
  height: 120px;
  background-color: #000000; 
   margin-bottom: 5px; 
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
  display: flex;
}

#header h1{
	color: white;
}

#header h2{
	color: white;
}

#header h3{
	color: white;
}

.header-part{
    width: 100%;
}
.first{
	margin-left: 20px;
	margin-top: auto;
	margin-bottom: auto;
}

.second{
	  margin-right: 20px;
	  margin-top:auto;
	  margin-bottom: auto;
	  text-align: right;

}
.nomer{
  font-size: 25px;
  font-style:italic;
  font-weight:bold; 
  color:white; 
}

.m-img{
text-align: center;
}



.m-img img{
    height: 120px;
    border-radius: 200px;
}

.about{
	margin-left: 10px;
	float: left;
	background-color:#8c40c3;
	border-radius: 10px;
	font-size: 35px;	
	margin-top: auto;
	margin-bottom: auto;
	color: white;
}

.about1{
	margin-left: 10px;
	float: left;
	background-color:red;
	border-radius: 10px;
	font-size: 35px;	
	margin-top: auto;
	margin-bottom: auto;
	color: white;
}

.about2{
	margin-left: 10px;
	float: left;
	background-color:#1CE570;
	border-radius: 10px;
	font-size: 35px;	
	margin-top: auto;
	margin-bottom: auto;
	color: white;
}
.card{
	background-color: white;
	height: 150px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 20px;
	display: flex;
	width: 90%;
	margin-right:auto;
	margin-left:auto;
	box-shadow: rgba(0,0,0,0.5) 1px 2px 4px;
}



.card img{
	width: 150px;
	height: 150px;
	margin-top: auto;
	margin-bottom: auto;
	float: left;
	border-radius: 20px;
}

.card p{
	color: black;
	padding-left: 50px;
	border-left: 1px solid grey;

	float: left;
	font-size: 15px;
	width: 70%;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;


}

#sidebar{
  position: fixed;
  background-color: white; 
  width: 180px; 
  padding: 10px; 
  float: right; 
  right: 0;
  border-radius: 5px; 
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
}




.content{
  background-color: rgb(240, 240, 250);
  margin-bottom: 5px; 
  margin-left:auto;
  margin-right: auto;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
}
.left{ 
  float: left;
  margin: 30px 7px 7px 7px;
}
.right{ 
  float: right;
  margin: 7px 0 7px 7px;
}

#footer{ 
  height:80px;
  width: 100%;
  background-color: black; 
  margin-bottom: 10px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;

}
#footer p{
	color:white;
}
.clear{ 
  clear: both;
}
  .fon{ 
  float:left; 
  margin:20px 0 0 20px;
}
.fax{ 
  float:left;
  margin:20px 0 0 60px;
}
.mail{
  float:left;
 margin:20px 0 0 60px;
}


.post{
    background: #ffffff;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0,0,0,0.5) 1px 2px 4px;
}


.new-post{
    background: #ffffff;
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.new-post form{
    text-align: left;
}

.full-input {
  display: inline-block;
  padding: 3px;
  border: 2px solid grey;
}

.full-input input{
  width: 80ch;
  outline: none;
  border: none;
  display:block;
  line-height: 1.2em;
  font-size: 14pt;
}

.full-input textarea{
     resize: none;
   width: 80ch;
   height: 10ch;
  outline: none;
  border: none;
  display:block;
  line-height: 1.2em;
  font-size: 14pt;
}
.full-input label {
  display: block;
  font-size: 12px;
  color: black;
}

.articles-name{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.articles-name h1{
    margin: 10px;
}


.post-card{
	background-color: white;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 20px;
	display: flex;
	margin-right:auto;
	margin-left:auto;
	box-shadow: rgba(0,0,0,0.5) 1px 2px 4px;
}

.post-card img{
	width: 150px;
	height: 150px;
	margin-top: auto;
	margin-bottom: auto;
	float: left;
	border-radius: 20px;
}

.post-card-inside{
    margin-left: 20px;
}