html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Nunito Sans', sans-serif;
  background: url('/../static/images/blue_back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
img{
    pointer-events: none;
}
.wrapper{
  width: 100%;;
}

h1{
	color: white;
}
h3{
	color: black;
}

h2{
	color: black;
}


p{
	color: black;
}

a{
	color:black;
}



#header{
  height: 120px;
  background-color:#2437b3;
   margin-bottom: 10px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
  display: flex;
}

#header h1{
	color: white;
}

#header h2{
	color: white;
}

#header h3{
	color: white;
}

.header-part{
    width: 100%;
}
.first{
	margin-left: 20px;
	margin-top: auto;
	margin-bottom: auto;
}

.second{
	  margin-right: 20px;
	  margin-top:auto;
	  margin-bottom: auto;
	  text-align: right;

}
.nomer{
  font-size: 25px;
  font-weight:bold;
  color:white;
}

.m-img{
text-align: center;
}



.m-img img{
    height: 120px;
    border-radius: 200px;
}

.about{
	margin-left: 10px;
	float: left;
	background-color:#002fb0;
	border-radius: 10px;
	font-size: 35px;
	margin-top: auto;
	margin-bottom: auto;
	color: white;
}

.about1{
	margin-left: 10px;
	float: left;
	background-color:#002fb0;
	border-radius: 10px;
	font-size: 35px;
	margin-top: auto;
	margin-bottom: auto;
	color: white;
}

.about2{
	margin-left: 10px;
	float: left;
	background-color:#002fb0;
	border-radius: 10px;
	font-size: 35px;
	margin-top: auto;
	margin-bottom: auto;
	color: white;
}
.card{
	background-color: white;
	height: 150px;
	width: 90%;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 20px;
	display: flex;
	margin-right:auto;
	margin-left:auto;
    transition:0.4s ease;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.card:hover{
    width: 85%;
}

.card img{
	width: 150px;
	height: 150px;
	margin-top: auto;
	margin-bottom: auto;
	float: left;
	border-radius: 20px;
}

.card p{
	color: black;
	padding-left: 50px;
	border-left: 1px solid grey;

	float: left;
	font-size: 15px;
	width: 70%;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;


}

#sidebar{
  position: fixed;
  width: 180px;
  height: 300px;
  padding: 10px;
  right: 0;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  background-color:#002fb0;
  box-shadow: inset 0 0 100px rgba(0, 200, 100, 1);

}

.right-side{
      display: block;
}

.right-side h3{
    color: white;
}
.right-side a{
    color: white;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 15px;
    display: inline-block;
    border-bottom: 2px solid rgb(0, 200, 100);
}



.content{
  margin-bottom: 5px;
  margin-left:auto;
  margin-right: auto;
  width: 80%;
  padding: 10px;
}

.post-name{
    color: black;
}


.wrapper:last-child{
      margin-bottom: 120px;
}

.left{
  float: left;
  margin: 30px 7px 7px 7px;
}
.right{
  float: right;
  margin: 7px 0 7px 7px;
}

#footer{
   position: fixed;
  left: 0;
  bottom: 0;

  height:80px;
  width: 100%;
  background-color: #2437b3;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);

}
#footer p{
	color:white;
}
.clear{
  clear: both;
}
  .fon{
  float:left;
  margin:20px 0 0 20px;
}
.fax{
  float:left;
  margin:20px 0 0 60px;
}
.mail{
  float:left;
 margin:20px 0 0 60px;
}


.post{
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    width: 60%;
    height: 220px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    transition:0.3s ease;
}

.post:hover{
    width: 65%;
}

.post-detail{
 height:100%;
  margin-bottom: 5px;
    background: #ffffff;
    width: 100%;
    display: flex;
    padding: 100px;
}


.post-read{
    width: 60%;

    margin-left: auto;
    margin-right: auto;
}

.post-read img{
    width: 80%;
}


.new-post{
    background: #ffffff;
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:100px;
    text-align: center;
}

.new-post form{
    text-align: left;
}

.full-input {
  display: inline-block;
  padding: 3px;
  border: 2px solid grey;
}

.full-input input{
  width: 80ch;
  outline: none;
  border: none;
  display:block;
  line-height: 1.2em;
  font-size: 14pt;
}

.full-input textarea{
     resize: none;
   width: 80ch;
   height: 10ch;
  outline: none;
  border: none;
  display:block;
  line-height: 1.2em;
  font-size: 14pt;
}
.full-input label {
  display: block;
  font-size: 12px;
  color: black;
}

.articles-name{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 2px white;
    width: 50%;
}

.articles-name h1{
    margin: 10px;
}


.post-card{
	background-color: white;
	border-radius: 20px;
	display: flex;
	margin-right:auto;
	margin-left:auto;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	height: 220px;
}

.post-card:last-child{
    margin-bottom: 20px;
}

.post-card img{
    margin-right: 10px;
	height: 220px;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 20px;
	padding: 3px;
}

.post-card-inside{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 220px;
    margin-top: auto;
    margin-bottom: auto;
    float: right;
    text-align: left;
    padding: 10px;
}



.sidebar1 {
  position: absolute;
  width: 15%;
  height: 100vh;
  font-size: 0.65em;
  margin-left: 100px;
}

.nav {
  position: relative;
  text-align: right;
  top: 60px;
  font-size: 17px;
}

.nav ul {
  list-style: none;
}
.nav li {
     margin-bottom: 40px !important;
}

.nav a {
      text-decoration: none;

      color: white;
      display: block;
      transition: all ease-out 300ms;
}


.active{
    font-size: 22px;
}

.current-cat{
    border-bottom: solid 2px red;
}


.twitter{
  width: 85%;
  float: right;
  height:  100%;
  margin-bottom:70px;

}

.post_img{
    height: 200px;
    border-radius: 20px;
}



.list-pages {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
.list-pages ul {
	list-style: none;
}
.list-pages ul li {

	display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
}
.list-pages a {
    display: block;
	color: white;
	font-size: 20px;
	text-decoration: none;
	 margin-top: auto;
    margin-bottom: auto;

}
.list-pages .page-num {
	display: inline-block;
	width: 60px;
	height: 44px;
	border: 2px solid #04db9b;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 0px 0px 2px 2px #04db9b;
}
.list-pages .page-num-selected {
    border: 5px solid #04db9b;
	color: white;
	font-size: 30px;
}
.list-pages .page-num-selected:hover {
	box-shadow: #04db9b;
}