{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<aside class="sidebar1">
    <nav class="nav">
        <ul>
            <li class="active"><a href="{% url 'post_list' %}">Все категории</a></li>
            {% for c in cats %}
            <li><a href="articles/category/{{ c.pk }}/">{{ c.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</aside>
<div class="content twitter">

    <div class="articles-name">
        <h1>Лента постов</h1>
        {% if user.is_authenticated %}
        <div>
            <a href="{% url 'post_new' %}" class="top-menu">
                <button type="submit" class="save btn-sm btn-primary">Новый пост</button>
            </a><br><br>
        </div>
        {% endif %}
    </div>
    {% for post in posts %}
    <div class="post post-card">
        {% if post.photo and post.photo.url %}
            <img src="{{ post.photo.url }}">
        {% else %}
            <img src="{% static 'images/default.png' %}" alt="" class="post_img">
        {% endif %}
        <div class="post-card-inside">
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
            <p>{{ post.text|linebreaksbr|truncatewords:30}}</p>
            <p>{{ post.published_date }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}