{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="post-detail">
    <div class="post-read">
        {% if post.published_date %}
        <div class="date">
            Последнее изменение: {{ post.published_date }}
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        Редактировать: <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span
            class="glyphicon glyphicon-pencil"></span></a><br>
        <form method="POST" class="post-form">
            {% csrf_token %}
            <button type="submit" class="save btn btn-danger" name="post_delete">Удалить</button>
        </form>
        {% endif %}
        <h1 class="post-name">{{ post.title }}</h1>
        {% if post.photo %}
        <p><img class="post_img" src="{{ post.photo.url }}"></p>
        {% else %}
        <p><img class="post_img" src="{% static 'images/default.png'%}"></p>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
</div>
</div>
{% endblock %}