{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <h1>Новый пост</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <p><label for="post_title">Название поста:</label>
            <input id="post_title" type="text" name="title" maxlength="100" required></p>
        <p><label for="post_message">Текст поста:</label>
            <textarea name="text" id="post_message" required></textarea></p>
        {% if user.is_authenticated %}
        <button type="submit" class="save btn btn-success">Опубликовать</button>
        {% endif %}
    </form>
</div>
{% endblock %}

