{% extends 'blog/base.html' %}
{% load static %}
{% load articles_tags %}

{% block content %}
<div class="content">
    <div class="new-post">
        <h1 class="post-name">Редактирование поста</h1>
        <form method="POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="full-input"><label for="post_title">Название поста:</label>
                <input id="post_title" type="text" name="title" maxlength="100" value="{{ title }}" required></div>
            <br><br>

            <div class="full-input"><label for="post_message">Текст поста:</label>
                <textarea name="text" id="post_message" required>{{ text }}</textarea>
            </div>
            <br><br>
            <div>
                <p>
                    <input type="file" id="post_image" name="post_image">
                </p>
            </div>
            Категория поста:
            <select class="selectpicker" name="cat" required>
                {% getcats as cats %}
                {% for c in cats %}
                    {% if c.id == cat.id %}
                        <option selected>{{ c.name }}</option>
                    {% else %}
                         <option>{{ c.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br><br>
            <p>Картинка:</p>
            {% if photo %}
            <p><img class="post_img" src="{{ photo.url }}"></p>
            {% else %}
            <p><img class="post_img" src="{% static 'images/default.png' %}"></p>
            {% endif %}
            {% if user.is_authenticated %}
            <button type="submit" class="save btn btn-success">Опубликовать изменения</button>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}

